
<div class="waveWrapper banner p-t-0  waveAnimation" >
    <div class="flex-container start-section text-center">
        <!-- <div class="heading text-white flex-col">
            <p class="text-bold text-uppercase">Trait Bias</p>
        </div> -->
        <div class="text-center  dflex divide-area">
            <div class="Info">
                <div class="heading text-white flex-col">
                    <h3 class="text-bold text-uppercase">Trait Bias</h3>
                </div>                
                <div class="userImage">
                    <img class="imgclass" src="aseets/img/pixel.jpg" alt="">
                </div>
                <div class="head">
                    <h4 class="text-white head">jesse Childers <br><span>(you)#02481</span></h4>
                </div>
                <div class="white-background ">
                    <div class="left heading">
                        <p>Rarity Score</p>
                    </div>
                    <div class="right dflex m-l-20">
                        <img src="assets/siteimage/redchilli1.png" width="20px" alt="">
                        <img src="assets/siteimage/redchilli1.png" width="20px" alt="">
                        <img src="assets/siteimage/blackchilli1.png" width="20px" alt="">
                        <img src="assets/siteimage/blackchilli1.png" width="20px" alt="">
                    </div>
                </div>
                <div class="confirm m-t-10">
                    <button type="button" class="btn btn-warning" (click)="confirm()">confirm</button>
                </div>
            </div>
            <div class="Detail m-l-40">
                <div class="heading text-white flex-col">
                    <p class="text-bold text-uppercase" style="font-size: 10px;">Traits</p>
                </div>
                <div class="paraghraph p-t-5 align-items-center dflex m-t-5">
                    <div class="left-side text-end m-r-10">
                        <p class="text-uppercase">colour</p>          
                        <p class="text-uppercase">background</p>         
                        <p class="text-uppercase">mouth</p>
                        <p class="text-uppercase">smoke</p>
                        <p class="text-uppercase text-warning ">eyes</p>
                        <p class="text-uppercase">hat/hair</p>
                        <p class="text-uppercase">clothes</p>
                        <p class="text-uppercase">shoes</p>
                    </div>
                    <div class="right-side text-start">
                        <p class="text-uppercase">ocean</p>                   
                        <p class="text-uppercase">fair</p>
                        <p class="text-uppercase">black lady</p>
                        <p class="text-uppercase">pink joint</p>
                        <p class="text-uppercase text-warning ">swag strippled</p>
                        <p class="text-uppercase">pink hat red har</p>
                        <p class="text-uppercase">striped purpule</p>
                        <p class="text-uppercase">purple lady</p>
                    </div>
                </div>
                <div class="heading text-white flex-col">
                    <p class="text-bold m-b-0 text-uppercase para">character.0.846.9.json</p>
                    <p class="text-bold m-t-0 text-uppercase para">09849.99838.9329</p>
                </div>
                <div class="heading text-white flex-col">
                    <p class="text-bold m-b-0 text-uppercase para">Price</p>
                    <p class="text-bold m-t-0 text-uppercase para">0087.87875 rabbits</p>
                </div>
            </div>
        </div> 
             
    </div>   
</div>





<!-- <div class="flex-container">
    <div class="flex-item">flex item 1</div>
    <div class="flex-item">flex item 2</div>
    <div class="flex-item">flex item 3</div>  
</div> -->


