
<div class="waveWrapper banner waveAnimation">
    <!-- <div class="heading text-white">
        <h3 class="text-bold text-uppercase">Your Matches</h3>
    </div> -->
    <div class="flex-container text-center">
        <div>
            <div class="heading text-white">
                <h3 class="text-bold text-uppercase">desired super powers</h3>
            </div>
            <section id="landing-nfts" class="landing-nfts">
                <!-- This is the 3D Owl Carousel -->
                <section class="landing-carousel">
                    <swiper [config]="config" (activeIndexChange)="onIndexChange($event)" (slideChange)="onIndexChange($event)" (realIndexChange)="onIndexChange($event)">
                        <ng-container *ngFor="let slide of slides; index as i">
                            <ng-template swiperSlide>
                                <!-- <div class="nft-image-container" []="['/'+slide.url]" routerLinkActive="router-link-active"> -->
                                <div class="nft-image-container" (click)="superPower()">
                                    <img src="{{slide.img}}" alt="{{slide.name}}">
                                </div>
                            </ng-template>
                        </ng-container>
                    </swiper>
                </section>
                <!-- <p class="slider-name">{{currentSliderName}}</p> -->
            </section>
        </div>
    </div>
</div>