h1 {
  font-size: large;
}



.brand-name {
  color: white;
  font-size: 25px;
  font-family: "somybmp01_7";
  text-align: end;
  padding-right: 12px;
}

.vi {
  border-left: 3px solid #d71920;
  height: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.nav-tab:hover {
  color: #d71920;
}

@media only screen and (max-width: 767px) {
  .nav-wrapper {
    border: none;
  }
  .brand-name {
    display: none;
  }
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  /* overflow: hidden; */
  display: flex;
  /* background-color: #333; */
  position: relative;
  /* width: 100% !important; */
  z-index: 1000;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 10000;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  // background: white;
  /* display: block; */
  z-index: 10000;
  /* position: absolute; */
  right: 0;
  top: 0;
}

// .active {
//   background-color: #04AA6D;
//   color: white;
// }
