<div class="center">
  <mat-tab-group [selectedIndex]="active" (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="Request For Breeding">
      <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.lg="25%"
            *ngFor="let item of nftCard">

            <mat-card class="mat-elevation-z4">
              <img mat-card-image [defaultImage]="defaultImage" [lazyLoad]="defaultImage" height="200px">
              <mat-card-content>
                <h3>{{item.name}}</h3>
                  <h4>{{item.description}}</h4>
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions class="mt-10">
                <button type="button" class="btn-primary" (click)="gotoProfile(item)">
                  view Profile
                </button>
                <div class="mb">
                  <button class="btn-primary" (click)="downTheRa8bithole()">Down the Ra8bithole</button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Breeding List">
      <div class="content">
        <div class="content">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.lg="25%"
              *ngFor="let item of nftCard">
               <div (click)="gotoBinprogress(item)" class="cursor">
                <mat-card class="mat-elevation-z4" >
                  <img mat-card-image [defaultImage]="defaultImage" [lazyLoad]="item.imgPath" height="200px">
                  <mat-card-content>
                    <h3>{{item.name}}</h3>
                    <h4>{{item.description}}</h4>
                  </mat-card-content>
                  <mat-divider inset></mat-divider>
                  <mat-card-actions class="mt-10">
                  </mat-card-actions>
                </mat-card>
               </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>