.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}
.center{
   position: absolute;
   left: 50%;
   top:60%;
   transform: translate(-50%,-50%);
   height: 100vh;
   width: 100%;
}
::ng-deep .mat-tab-label-content{
    color: white;
    font-size: 15px;
    font-family: "somybmp01_7";
    text-transform: uppercase   ;
}

::ng-deep .mat-tab-list{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
}
.cursor{
    cursor: pointer;
}