<section class="inner">
  <div class="intro">
    <div class="text-center divide-area">
      <ng-container *ngIf="nftCards.details">
        <ng-container *ngIf="nftCards.details.id == profileNftid">
          <div class="nft-item mr-md-40">
            <div class="title">
              <div class="heading text-white">
                <h3 class="text-bold text-uppercase">
                  <span>Profile</span>
                </h3>
              </div>
            </div>
            <div class="nft-box">
              <img class="wp100" src="{{ nftCards.details.image }}" alt="" />
            </div>
            <div class="mb10">
              <h4 class="text-white head font-weight-normal">
                {{ nftCards.details.name }}
              </h4>
            </div>
            <div class="rarity-score rounded mt20 mb20">
              <div class="left heading p8">
                <p class="mb-0">
                  Rarity <br />
                  Score
                </p>
              </div>
              <div class="rarity flex">
                <img src="assets/siteimage/redchilli.jpg" alt="" />
                <img src="assets/siteimage/blackchilli.jpg" alt="" />
              </div>
            </div>

            <ng-template>
              <button type="button" class="btn-primary">view Profile</button>
            </ng-template>

            <div class="flex-col mt-3 align-items-center text-center">
              <app-super-like
                [toNFTId]="nftCards.token_id"
                [NftAddress]="nftCards.token_address"[hideLikeButton]="true"
              ></app-super-like>
            </div>
          </div>
          
          <div class="grow-2">
            <div class="title invisible-md">
              <app-profile-common>
                <span>Profile</span>
              </app-profile-common>
            </div>

            <div class="traits">
              <div class="heading text-white mb30 flex-col">
                <p class="text-bold text-uppercase">Traits</p>
              </div>

              <ng-container *ngFor="let inner of nftCards.details.attributes">
                <div class="flex justify-center properties mb30">
                  <p class="mr20 text-right">
                    {{ inner.trait_type }}
                  </p>
                  <p class="text-left">
                    {{ inner.value }}
                  </p>
                </div>
              </ng-container>

              <div class="justify-center properties mt30">
                <div class="full mb30">
                  <p>character....json</p>
                  <p>09849.99838.9329</p>
                </div>
                <div class="full mb30">
                  <p class="text-bold m-b-0 text-uppercase para">Price</p>
                  <p class="text-bold m-t-0 text-uppercase para">
                    {{ nftCards.amount }}
                  </p>
                </div>
              </div>

              <div class="flex justify-center icon social">
                <a href="javascript:void(0)"
                  ><img
                    src="https://static01.nyt.com/images/2014/08/10/magazine/10wmt/10wmt-superJumbo-v4.jpg"
                    width="40px"
                    height="40px"
                    alt=""
                    class="bg-white icon-change rounded mr10" /></a
                ><a href="javascript:void(0)"
                  ><img
                    src="https://cdn.pixabay.com/photo/2016/08/09/17/52/instagram-1581266_1280.jpg"
                    width="40px"
                    height="40px"
                    alt=""
                    class="bg-white icon-change rounded"
                /></a>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
