@import "../../../../assets/scss/includes";

.heading span {
  background: $white;
  color: $black;
  padding: 2px 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.dot {
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #150520;
  z-index: 10;
  &.bottom {
    top: auto;
    bottom: 0;
  }
}
.traits {
    flex: 0 0 100%;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}

.main-title {
  text-transform: uppercase;
  font-weight: $bold;
  text-align: center;
  color: white;
  font-family: "LuloCleanOne-Bold";
}
