<section class="inner inn">
  <div class="intro introc">
    <h3 class="main-title mb50 main-titlec">
      <span class="p18">Selected Target</span>
    </h3>

    <div class="flex text-center">
      <ng-container>
        <div class="nft-item">
          <div class="heading text-white">
            <h3 class="text-bold text-uppercase aa">
              <span class="p12">You</span>
            </h3>
          </div>
          <div class="nft-box">
            <img class="wp100"  [defaultImage]="defaultImage" [lazyLoad]="currentNftDetais.imagePath " alt="" />
          </div>
          <div class="mb10">
            <div class="div"></div>
            <h4 class="text-white head font-weight-normal">
              {{ currentNftDetais?.NickName }}
            </h4>
          </div>
          <div class="rarity-score up rounded mt20 mb20">
            <div class="left heading p8 pb">
              <p class="mb-0 mb1">
                Rarity <br />
                Score
              </p>
            </div>
            <div class="rarity flex">
              <img src="assets/siteimage/redchilli.jpg" alt="" />
              <img src="assets/siteimage/blackchilli.jpg" alt="" />
            </div>
          </div>

          <ng-template>
            <button type="button" class="btn-primary">view Profile</button>
          </ng-template>

          <div class="flex-col mt-3 align-items-center text-center">
            <app-super-like
              [toNFTId]="currentNftDetais?.token_id"
              [NftAddress]="currentNftDetais?.token_address"
            ></app-super-like>
          </div>
        </div>
      </ng-container>

      <div class="flex relative">
        <div class="dot"></div>
        <hr class="mr40 ml40 mr1r" />
      </div>

      <ng-container>
        <div class="nft-item">
          <div class="heading text-white">
            <h3 class="text-bold text-uppercase aa">
              <span class="p12">The Other</span>
            </h3>
          </div>
          <div class="nft-box">
            <img class="wp100"  [defaultImage]="defaultImage" [lazyLoad]="OtherNft?.details?.image" alt="" />
          </div>
          <div class="mb10">
            <h4 class="text-white head font-weight-normal">
              {{ OtherNft?.NickName }}
            </h4>
          </div>
          <div class="rarity-score rounded mt20 mb20">
            <div class="left heading p8 pb">
              <p class="mb-0 mb1">
                Rarity <br />
                Score
              </p>
            </div>
            <div class="rarity flex">
              <img src="assets/siteimage/redchilli.jpg" alt="" />
              <img src="assets/siteimage/blackchilli.jpg" alt="" />
            </div>
          </div>

          <ng-template>
            <button type="button" class="btn-primary">view Profile</button>
          </ng-template>

          <div class="flex-col mt-3 align-items-center text-center">
            <app-super-like
              [toNFTId]="OtherNft?.NftId"
              [NftAddress]="OtherNft?.NftAddress"
            ></app-super-like>
          </div>
        </div>
      </ng-container>
    </div>

    <h3 class="main-title mb50 main-titlec">
      <span class="p18">PAY TUTITION FEE</span>
      <label class="switch">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </h3>

    <div class="flex-space-between">
      <div class="flex1 heading text-white flex-col text-center">
        <p class="text-bold text-uppercase trai">Traits</p>
      </div>

      <button
        (click)="sendToBreeding()"
        type="button"
        class="flex1 btn-secondary p12 secondaryfont"
      >
        down the ra8bithole
      </button>

      <div class="flex1 heading text-white flex-col text-center">
        <p class="text-bold text-uppercase trai">Traits</p>
      </div>
    </div>

    <div class="flex justify-content-evenly mt50">
      <div class="traits">
        <ng-container
          *ngFor="let item of currentNftDetais?.details?.attributes"
        >
          <div class="flex justify-center properties mb30 rool propertiesc">
            <p class="mr20 text-right">{{ item.trait_type }}</p>
            <p class="text-left">{{ item.value }}</p>
          </div>
        </ng-container>

        <div class="justify-center properties mt30 propertiesc">
          <div class="full mb30">
            <p>character....json</p>
            <p>09849.99838.9329</p>
          </div>
          <div class="full mb30">
            <p class="text-bold m-b-0 text-uppercase para">Price</p>
            <p class="text-bold m-t-0 text-uppercase para">0.1 BNB</p>
          </div>
        </div>
      </div>

      <div class="flex relative">
        <div class="dot bottom"></div>
        <hr class="mr40 ml40" />
      </div>

      <div class="traits">
        <ng-container *ngFor="let item of OtherNft?.details?.attributes">
          <div class="flex justify-center properties mb30 rool1 propertiesc">
            <p class="mr20 text-right">{{ item.trait_type }}</p>
            <p class="text-left">{{ item.value }}</p>
          </div>
        </ng-container>

        <div class="justify-center properties proper mt30 propertiesc">
          <div class="full mb30">
            <p>character....json</p>
            <p>09849.99838.9329</p>
          </div>
          <div class="full mb30">
            <p class="text-bold m-b-0 text-uppercase para">Price</p>
            <p class="text-bold m-t-0 text-uppercase para">0.1 BNB</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
