@import "https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;display=swap";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;display=swap";
@import "https://fonts.googleapis.com/css?family=Raleway&amp;display=swap";
@import "https://fonts.googleapis.com/css?family=Lexend+Deca&amp;display=swap";
/* @import 'swiper/less';
@import 'swiper/less/navigation';
@import 'swiper/less/pagination';
@import 'swiper/css/bundle';
@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation"; */



@font-face {
    /* font-family: "LuloCleanOne-Bold"; */
    /* src: url("../Fonts/Lulo Clean One Bold.otf"); */
    font-family: "somybmp01_7";
    src: url("./../Fonts/somybmp01_7.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "LuloCleanOne-Bold";
    src: url("./../Fonts/Lulo Clean One Bold.otf"); 
    font-weight: normal;
    font-style: normal;
}


.text-white{
    color: white;
}
.var-color{
    color: #d71920;
}

.banner{
  z-index: 1;
  /* height: 100vh;
  max-height: 100vh; */ 
}

.text-bold{
    font-weight: bold;
}
.p{
    color: white;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-start{
    text-align: start;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex5 {
    flex: 5;
}
.subtitle{
    font-size: 34px;
    font-weight: bold;
    /* letter-spacing: 3px; */
    margin: 0px;
    font-family: "LuloCleanOne-Bold";
    color: white;
}
.logo-container{
    font-size: 90px;
    font-family: "somybmp01_7";
    color: #d71920;
}

.head{
    font-family: "somybmp01_7";
  }
.heading{
    font-family: "LuloCleanOne-Bold";
}
/* .foot{
  font-size: 17px;
  color: white;
  position: fixed;
  z-index: 1;
  font-family: 'somybmp01_7';
} */
.btn-outline-primary {
    color: #5b5266;
    text-align: center;
    border: 1px solid white;
    font-family: "LuloCleanOne-Bold";
    width: 100%;
    padding: 5px;
    font-weight: bold;
    background: transparent;
    font-size: 16px;
    border-radius: 26px;
}

.btn-outline-Secondary {
    border-radius: 30px;
    padding: 0.5rem 1rem;
    padding-bottom: 0.7rem;
    font-family: "LuloCleanOne-Bold";
    font-weight: bold;
    background: white;
    border: 1px solid white;
    line-height: 16px;
}

.btn-warning {
    color: black;
    /* height: 38px;
    width: 48%; */
    width: 100%;
    padding: 10px;
    background: #f7941e;
    border: 3px solid white;
    font-family: 'LuloCleanOne-Bold';
    font-size: 13px;
    border-radius: 26px;
}
.btn-info{
    color: white;
    /* height: 40px;
    width: 80%; */
    padding: 10px;
    background: #f7941e;
    border: 1px solid white;
    font-family: 'LuloCleanOne-Bold';
    font-size: 13px;
    border-radius: 26px;

}
.text-warning{
    color: #ffc107;
}
.btn-danger{
    color: black;
    /* height: 100% !important; */
    /* width: 50%; */
    width: 100%;
    padding: 10px;
    background: red;
    border: 3px solid white;
    font-family: 'LuloCleanOne-Bold';
    font-size: 12px;
    border-radius: 26px;
}
.height{
    height: 25vh !important;
}
.text-end{
    text-align: end;
}

.round{
    border-radius: 20px;
}

/* .imgclass {
    border: 5px solid white;
} */
.dflex{
    display: flex;
}
.dinline{
    display: inline;
}

.heading{
    font-family: "LuloCleanOne-Bold";
}
.align-items-center{
 align-items: center;
}
.content-space{
    justify-content: space-around;
}


.divide-area{
    display: flex;
}


.paraghraph{
    color: white;
    width: 100%;   
    font-size: 8px;
    font-family: 'LuloCleanOne-Bold';
}

@media only screen and (max-width: 767px){
    .logo-container{
        font-size: 52px;
        font-family: "somybmp01_7";
        color: white;
    }
    .subtitle {
        font-size: 18px;
        font-weight: bold;
        /* width: 20%; */
        /* letter-spacing: 3px; */
        margin: 0px;
        font-family: "LuloCleanOne-Bold";
        color: white;
    }
    .btn-outline-Secondary {
        border-radius: 30px;
        padding: 0.5rem 1rem;
        padding-bottom: 0.7rem;
        font-family: "LuloCleanOne-Bold";
        font-weight: bold;
        background: white;
        border: 1px solid white;
        line-height: 18px;
    }
    /* .imgclass{
        height: 50%;
        width: 45%;
    } */
    /* .divide-area{
       display: inline;
    } */
    .btn-outline-primary {
        color: white;
        /* height: 40px; */
        border: 1px solid white;
        font-family: "LuloCleanOne-Bold";
        /* width: 85%; */
        font-weight: bold;
        background: transparent;
        font-size: 15px;
        border-radius: 26px;
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    .start-section{
        padding-top: 30px;
    }
}


@media only screen and (max-width: 767px){
    .start-section{
        padding-top: 70px;
    }
    /* .imgclass{
        height: 200px;
        width: 200px;
    } */
}



  