
<div class="waveWrapper banner p-t-0  waveAnimation">
    <div class="flex-container start-section text-center">
        <div class="text-center">     
            
            <div class="text-center dflex divide-area">
                <div class="info">                                       
                    <div class="heading text-white flex-col">
                        <h3 class="text-bold text-uppercase">Breed outcome</h3>
                    </div> 
                   <div class="userImage">                  
                        <img class="imgclass" src="aseets/img/user.png" alt="">                   
                   </div>
                   <div class="head">
                    <h4 class="text-white head">Haary Butts <br><span>#02481</span></h4>
                </div>  
                    <div class="white-background m10">
                        <div class="left heading" style="font-size: 8px;">
                            <p>Rarity Score</p>
                        </div>
                        <div class="right dflex ">
                            <img src="assets/siteimage/redchilli1.png" width="30px" alt="">
                            <img src="assets/siteimage/redchilli1.png" width="30px" alt="">
                            <img src="assets/siteimage/blackchilli1.png" width="30px" alt="">
                            <img src="assets/siteimage/blackchilli1.png" width="30px" alt="">
                        </div>
                    </div>
                </div>
               <div class="Detail">
                <div class="heading text-white flex-col">
                    <h5 class="text-bold text-uppercase">Traits</h5>
                </div>
                <div class="paraghraph align-items-center dflex m-l-30">
                    <div class="left-side text-end m-r-10">
                        <p class="text-uppercase">colour</p>          
                        <p class="text-uppercase">background</p>         
                        <p class="text-uppercase">mouth</p>
                        <p class="text-uppercase">smoke</p>
                        <p class="text-uppercase">eyes</p>
                        <p class="text-uppercase">hat/hair</p>
                        <p class="text-uppercase">clothes</p>
                        <p class="text-uppercase">shoes</p>
                    </div>
                    <div class="left-side text-start m-r-10">
                        <p class="text-uppercase">ocean</p>          
                        <p class="text-uppercase">fire</p>         
                        <p class="text-uppercase">blacklady</p>
                        <p class="text-uppercase">.</p>
                        <p class="text-uppercase">swag stripled</p>
                        <p class="text-uppercase">pink hat hair red</p>
                        <p class="text-uppercase">striped purple</p>
                        <p class="text-uppercase">purple lady</p>
                    </div>

                   
                </div>


               
                <div class="heading text-white flex-col">
                    <p class="text-bold m-b-0 text-uppercase para">character.0.846.9.json</p>
                    <p class="text-bold m-t-0 text-uppercase para">09849.9983875847689329</p>
                </div>
                <div class="heading text-white flex-col">
                    <p class="text-bold m-b-0 text-uppercase para">Price</p>
                    <p class="text-bold m-t-0 text-uppercase para">1,000,000,000,000 rab8bits</p>
                </div>
                <div class="text-end">
                    <img src="assets/siteimage/twitter.png" class="roundicon" alt="">
                    <img src="assets/siteimage/instagram.png" class="roundicon"  alt="">
                </div>
               </div>
            </div>
        </div>              
    </div>        
</div>



<!-- <div class="waveWrapper banner p-t-0  waveAnimation">
    <div class="flex-container start-section text-center">
        <div class="text-center">     
            <div class="text-center dflex divide-area">
                <div class="info">                                       
                    <div class="heading text-white flex-col">
                        <h3 class="text-bold text-uppercase">Breed outcome</h3>
                    </div> 
                    
                   <div class="userImage">                  
                        <img class="imgclass" src="aseets/img/user.png" alt="">                   
                   </div>
                   <div class="head">
                    <h4 class="text-white head">Haary Butts <br><span>#02481</span></h4>
                </div>  
                    <div class="white-background m10">
                        <div class="left heading" style="font-size: 8px;">
                            <p>Rarity Score</p>
                        </div>
                        <div class="right dflex ">
                            <img src="assets/siteimage/redchilli1.png" width="30px" alt="">
                            <img src="assets/siteimage/redchilli1.png" width="30px" alt="">
                            <img src="assets/siteimage/blackchilli1.png" width="30px" alt="">
                            <img src="assets/siteimage/blackchilli1.png" width="30px" alt="">
                        </div>
                    </div>
                </div>
            
            </div>
            
        </div>              
    </div>        
</div> -->




