.close-button {
  float: right;
  top: -40px;
  right: -2px;
  background: white;
}

.close-icon {
  transition: 1s ease-in-out;
}
.mat-icon-button {
  border-radius: 0px !important;
}
.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset;
}

h4 {
  color: white;
  text-align: center;
}
h3 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.flex-parent {
  display: flex;
  margin-bottom: 16px;
}

.jc-center {
  justify-content: center;
}
.bt {
  width: 80%;
  border: 2px solid #ffff;
  border-radius: 30px;
  background: transparent;
  color: #ffff;
  font-size: large;
  padding: 10px;
}
h6 {
  color: #ffff;
  text-align: center;
  text-transform: uppercase;
}
.bt1{
  width: 50%;
  border: 2px solid #ffff;
  border-radius: 30px;
  background: transparent;
  color: #ffff;
  padding: 10px;
  // margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.flex-parent1 {
  display: flex;
}

.jc-center1 {
  justify-content: center;
}
