.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 1rem;
    text-align: center;
 }


 .footer {
    font-family: "LuloCleanOne-Bold";
    font-size: 10px;
    color: #55505e;
    background: #08020638;
}


@media only screen and (max-width: 767px){
    .footer{
        display: none;
    }
    .copyright-text{
        position: fixed;
        left: 0;
        font-size: 12px;
        bottom: 0;
        font-family: "somybmp01_7";
        z-index: 1;
        width: 100%;
        color: white;
        text-align: center;
    }
}

// @media screen and (min-width: 769px) {
//     .footer-text{
//         position: absolute;
//         left: 0;
//         bottom: 0;
//         font-family: "somybmp01_7";
//         z-index: 1;
//         width: 100%;
//         /* background-color: red; */
//         color: white;
//         text-align: center;
//     }
// }
