<!-- <div class="text-center ">
    <div class="">
        <div class="text-sm-end">
            <p class="text-white text-foot text-uppercase"> ra8bits</p>
        </div>
    </div>
</div> -->






<!-- <footer>
    <div class="copy-right-area">
        <div class="copyright">           
            <div class="copyright-heading">
                <p class="text-uppercase text-white">
                    © 2021 by ra8bits. All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer> -->





<div class="footer">
  <div class="copy-right-area">
    <p>  © 2022 by ra8bits. All Rights Reserved</p>
  </div>
</div>

