<div class="waveWrapper banner p-t-0  waveAnimation">
    <div class="flex-container start-section text-center">
        <div class="text-center">
            <div class="text-center dflex divide-area" *ngFor="let item of nftProgress">
                <div class="info">
                    <div class="heading text-white flex-col">
                        <h3 class="text-bold text-uppercase">Breed in progress</h3>
                    </div>

                    <div class="userImage" [ngStyle]="{'background': ' url(' + item.imgPath  + ') no-repeat 0 0'}">
                            <!-- <img [defaultImage]="defaultImage" [lazyLoad]="item.imgPath" height="200px">  -->
                            <div class="progress-bar" *ngIf="isVisible">
                                <div style="margin-bottom: 5px;">
                                    <span class="progress-value">{{value}}%</span>
                                </div>
                                <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
                            </div>
                        </div>
                   
                    <div class="head">
                        <h4 class="text-white head">{{item.name}} <br><span>#02481</span></h4>
                    </div>
                    <div class="white-background m10">
                        <div class="left heading" style="font-size: 8px;">
                            <p>Rarity Score</p>
                        </div>
                        <div class="right dflex ">
                            <img src="assets/siteimage/redchilli1.png" width="30px" alt="">
                            <img src="assets/siteimage/redchilli1.png" width="30px" alt="">
                            <img src="assets/siteimage/blackchilli1.png" width="30px" alt="">
                            <img src="assets/siteimage/blackchilli1.png" width="30px" alt="">
                        </div>
                    </div>
                    <div class="button-contaier" *ngIf="isVisible">
                        <div class="powers m10">
                            <button type="button" class="btn btn-danger" (click)="superPower(item)" [disabled]="item?.isDisable" [ngClass]="item?.isDisable?'isDisable':''">super powers [1|1]</button>
                        </div>
                        <div class="confirm">
                            <button type="button" class="btn btn-warning" (click)="traitsBias()">traits bias</button>
                        </div>
                    </div>
                    <div class="button-contaier" *ngIf="!isVisible">
                        <div class="powers m10">
                            <button type="button" class="btn btn-warning" (click)="collectNft()">Claim NFT</button>
                        </div>
                        <div class="confirm">
                            <button type="button" class="btn btn-warning">New NFT Claim</button>
                        </div>
                    </div>
                </div>
                <div class="Detail">
                    <div class="heading text-white flex-col">
                        <h6 class="text-bold text-uppercase">Traits</h6>
                    </div>
                    <div class="paraghraph align-items-center dflex m-t-5">
                        <div class="left-side text-end">
                            <p class="text-uppercase m0">colour</p>
                            <p class="text-uppercase">background</p>
                            <p class="text-uppercase m0">mouth</p>
                            <p class="text-uppercase">smoke</p>
                            <p class="text-uppercase m0">eyes</p>
                            <p class="text-uppercase">hat/hair</p>
                            <p class="text-uppercase m0">clothes</p>
                            <p class="text-uppercase">shoes</p>
                        </div>
                        <div class="right-side text-start">
                            <p class="text-uppercase m0">...</p>
                            <p class="text-uppercase">fair</p>
                            <p class="text-uppercase m0">...</p>
                            <p class="text-uppercase">...</p>
                            <p class="text-uppercase m0">swag strippled</p>
                            <p class="text-uppercase ">...</p>
                            <p class="text-uppercase m0">...</p>
                            <p class="text-uppercase">...</p>
                        </div>
                    </div>
                    <div class="heading text-white flex-col m-t-30">
                        <p class="text-bold m-b-0 text-uppercase para">character.0.846.9.json</p>
                        <p class="text-bold m-t-0 text-uppercase para">09849.99838.9329</p>
                    </div>
                    <div class="heading text-white flex-col m-t-20">
                        <p class="text-bold m-b-0 text-uppercase para">Price</p>
                        <p class="text-bold m-t-0 text-uppercase para">0087.87875</p>
                    </div>
                </div>
            </div>
            <!-- <div class="text-center">
                <div class="">
                    <div class="text-sm-end">
                        <p class="m-0 text-white footer text-foot text-uppercase">Rabbits</p>
                    </div>
                </div>
            </div>   -->
        </div>

    </div>

</div>