
<section class="inner">
  <div class="intro intro1">
    <div class="title">
      <div class="heading text-white">
        <h3 class="text-bold text-uppercase">
          set up <span>your profile</span>
        </h3>
      </div>
    </div>
    <div class="section">
      <div class="text-center divide-area">
        <div class="nft-item mr-md-40">
          <div class="rarity-score">
            <div class="left heading p8">
              <p class="mb-0">
                Rarity <br />
                Score
              </p>
            </div>
            <div class="rarity flex">
              <img src="assets/siteimage/redchilli.jpg" alt="" />
              <img src="assets/siteimage/blackchilli.jpg" alt="" />
            </div>
          </div>
          <div class="nft-box border-top-0">
            <!-- <img [defaultImage]="defaultImage" [lazyLoad]="image" /> -->

            <img class="wp100" [src]="nftMetadata?.imagePath" alt="" />
          </div>
          <h4 class="text-white head font-weight-normal fc">
            {{ nftMetadata?.name }}
          </h4>
          <!-- <h4 class="text-white head font-weight-normal">#02487</h4> -->
        </div>
        <div class="grow-2">
          <div class="icon-change">
            <!-- <button  type="button" class="btn btn-outline-primary m-b-10 text-uppercase">nickname</button> -->
            <input
              type="text"
              class="btn btn-outline-primary m-b-10 text-uppercase"
              name="name"
              [(ngModel)]="nickName"
              placeholder="nickname"
              id=""
            />
          </div>
          <div class="social-media ml-4 mt-4">
            <!-- <button  type="button" class="btn btn-outline-primary height text-uppercase m-t-0">Discription</button> -->
            <textarea
              rows="6"
              placeholder="Description"
              id="description"
              [(ngModel)]="description"
              class="btn btn-outline-primary text-uppercase text-center m-t-0"
              name="description"
            >
                                    Discription
                                </textarea
            >
          </div>
          <div>
            <button
              type="button"
              class="btn btn-outline-primary m-t-5 text-uppercase"
              (click)="save()"
            >
              {{ btnText }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
